# vscode is too big lol
vscode/

config/*
!config/dconf/
!config/gnome-session/
!config/gtk-2.0/
!config/gtk-3.0/
!config/gtk-4.0/
!config/polybar/
!config/gnome-initial-setup-done
!config/user-dirs.dirs
!config/user-dirs.locale
